<div class="container text-center">
  <h1>Council Member Expenses Dashboard</h1>
  <p>Welcome!</p>
  <p>This dashboard provides an overview of council member expenses, including details on wards, vendors, expenses, and accounts. Use the links below to explore the data.</p>

  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Wards</h5>
          <p class="card-text">View all wards and their data</p>
          <%= link_to "View Wards", wards_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Vendors</h5>
          <p class="card-text">View all vendors</p>
          <%= link_to "View Vendors", vendors_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Expenses</h5>
          <p class="card-text">View all expenses</p>
          <%= link_to "View Expenses", expenses_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Accounts</h5>
          <p class="card-text">View all accounts</p>
          <%= link_to "View Accounts", accounts_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>