<h1><%= @vendor.vendor_name %></h1>

<h2>Accounts Billed to This Vendor</h2>
<% if @vendor.accounts.any? %>
  <ul>
    <% @vendor.accounts.distinct.each do |account| %>
      <li><%= link_to account.account_name, account_path(account) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No accounts found for this vendor.</p>
<% end %>

<h2>Wards That Have Used This Vendor</h2>
<% if @vendor.wards.any? %>
  <ul>
    <% @vendor.wards.distinct.each do |ward| %>
      <li><%= link_to ward.ward_name, ward_path(ward) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No wards found for this vendor.</p>
<% end %>

<%= link_to 'Back to Vendors', vendors_path %>
