 <!--begin
  Name: Nathan Keenan
  Program: Business Information Technology
  Course: WEBD-3011 (277098)
  Created: 2026-04-06
  Updated: 2024-04-08
 -->

<div class="container text-center">
  <h1>About This Site</h1>
  <p>
    This site contains real and fictional information about council member expenses, including details on wards, vendors, and accounts.
    The data is sourced from the City of Winnipeg's open data portal,
    specifically the "Council Member Expenses" dataset. The dataset includes information on expenses incurred by council members,
    such as the date of the expense, the vendor, the amount, and the department associated with the expense.
    The site allows users to explore this data through various views.
  </p>

  <p>
    Other elements of this data were created using the Faker gem to generate realistic but fictional data for demonstration purposes.
    Specifically the population and age statistics for the different wards are fictional and generated using Faker.
  </p>

  <p>
    The site is built using Ruby on Rails and uses Bootstrap for styling. It provides an interface to view and explore the data in a user-friendly way.
     A diagram of the database schema can be found below.</a>.
  </p>

  <h2>Database Schema</h2>
  <%= image_tag "erd_diagram.png", alt: "Database Schema Diagram", class: "img-fluid" %>
</div>

